.env
qbittorrent/config/*
qbittorrent/downloads/*

jellyfin/config/*
jellyfin/cache/*
jellyfin/media/*

seerr/config/*
sonarr/config/*
radarr/config/*
lidarr/config/*
prowlarr/config/*
slskd/config/*
soularr/config/*

nginx/certs/*

adguard/config/*
adguard/work/*

.claude
CLAUDE.md