services:
  
  nginx:
    image: nginx:mainline-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "${NGINX_HOST_PORT}:80"
      - "${NGINX_HTTPS_PORT}:443"
    volumes:
      - web-root:/var/www/html
      - ./nginx/conf.d/${NGINX_CONFIG_NAME}.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/includes/proxy_services.conf:/etc/nginx/includes/proxy_services.conf
      - ./nginx/certs:/etc/ssl/certs
      - ${NGINX_SHARE_FILES}:/var/www/html/files
    networks:
      - app-network

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=${QBITTORRENT_PUID-1000}
      - PGID=${QBITTORRENT_PGID-1000}
      - TZ=${QBITTORRENT_TZ}
      - WEBUI_PORT=${QBITTORRENT_WEBUI_PORT}
      - TORRENTING_PORT=${QBITTORRENT_TORRENTING_PORT}
    volumes:
      - ${QBITTORRENT_CONFIG_PATH}:/config
      - ${QBITTORRENT_DOWNLOADS_PATH}:/downloads #optional
    networks:
      - app-network

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    user: ${JELLYFIN_PUID}:${JELLYFIN_PGID}
    volumes:
      - ${JELLYFIN_CONFIG_PATH}:/config
      - ${JELLYFIN_CACHE_PATH}:/cache
      - ${JELLYFIN_MEDIA_PATH}:/media
    environment:
      - TZ=${TZ}
    networks:
      - app-network

  seerr:
    image: seerr/seerr:sha-267450a #TODO double check tags when they get updated
    init: true
    container_name: seerr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=debug
      - TZ={TZ}
    ports:
      - 5055:5055
    volumes:
      - ./seerr/config:/app/config
      - ./seerr/next.config.js:/app/next.config.js
    networks:
      - app-network
  adguardhome:
    image: adguard/adguardhome
    container_name: adguard
    restart: unless-stopped
    ports:
      - 53:53/tcp
      - 53:53/udp
    volumes:
      - ./adguard/config:/opt/adguardhome/conf
      - adguard-work-data:/opt/adguardhome/work
    networks:
      - app-network

  sonarr:
    image: ghcr.io/hotio/sonarr
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ./sonarr/config/:/config
      - ${JELLYFIN_MEDIA_PATH}/shows:/data
    networks:
      - app-network

  radarr:
    image: ghcr.io/hotio/radarr
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ./radarr/config/:/config
      - ${JELLYFIN_MEDIA_PATH}/movies:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  web-root:
    driver: local
  adguard-work-data:
    driver: local