services:
  
  nginx:
    image: nginx:mainline-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "${NGINX_HOST_PORT}:80"
      - "443:443"
    volumes:
      - web-root:/var/www/html
      - ./nginx/conf.d/app.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/includes/proxy_services.conf:/etc/nginx/includes/proxy_services.conf
      - ./nginx/certs:/etc/ssl/certs
    environment:
      - NGINX_PORT=${NGINX_HOST_PORT}
    networks:
      - app-network

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=${QBITTORRENT_PUID}
      - PGID=${QBITTORRENT_PGID}
      - TZ=${QBITTORRENT_TZ}
      - WEBUI_PORT=${QBITTORRENT_WEBUI_PORT}
      - TORRENTING_PORT=${QBITTORRENT_TORRENTING_PORT}
    volumes:
      - ${QBITTORRENT_CONFIG_PATH}:/config
      - ${QBITTORRENT_DOWNLOADS_PATH}:/downloads #optional
    networks:
      - app-network

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: 'unless-stopped'
    user: ${JELLYFIN_PUID}:${JELLYFIN_PGID}
    volumes:
      - ${JELLYFIN_CONFIG_PATH}:/config
      - ${JELLYFIN_CACHE_PATH}:/cache
      - ${JELLYFIN_MEDIA_PATH}:/media
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  web-root:
    driver: local